<div class="gallery-container">
    <div class="gallery-header">
      <h1 style="color:  #942318;">Nuestras Obras</h1>
      <p>
        Descubre las impactantes obras y actividades que nuestra organización realiza para 
        mejorar las vidas de las personas en nuestra comunidad. Desde la recolección de donaciones 
        hasta la entrega de servicios esenciales, cada imagen cuenta una historia de esperanza y solidaridad.
      </p>
    </div>
  
    <div class="gallery">
      <div class="thumbnail" (click)="openModal(); currentSlide(1)">
        <img src="assets/img/gallery1.jpeg" alt="Imagen 1">
      </div>
      <div class="thumbnail" (click)="openModal(); currentSlide(2)">
        <img src="assets/img/gallery2.jpeg" alt="Imagen 2">
      </div>
      <div class="thumbnail" (click)="openModal(); currentSlide(3)">
        <img src="assets/img/gallery3.jpg" alt="Imagen 3">
      </div>
      <div class="thumbnail" (click)="openModal(); currentSlide(4)">
        <img src="assets/img/gallery4.jpeg" alt="Imagen 4">
      </div>
      <div class="thumbnail" (click)="openModal(); currentSlide(5)">
        <img src="assets/img/gallery5.jpeg" alt="Imagen 5">
      </div>
      <div class="thumbnail" (click)="openModal(); currentSlide(6)">
        <img src="assets/img/gallery6.jpeg" alt="Imagen 6">
      </div>
    </div>
  
    <div id="myModal" class="modal" [style.display]="modalDisplay">
      <span class="close cursor" (click)="closeModal()">&times;</span>
      <div class="modal-content">
        <div class="mySlides" *ngFor="let slide of slides; let i = index" [style.display]="slideIndex === i + 1 ? 'block' : 'none'">
          <img [src]="slide" alt="Imagen {{i + 1}}">
        </div>
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
      </div>
    </div>
  </div>
  