<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-contact">
                    <h2>Nuestra oficina central</h2>
                    <p><i class="fa fa-map-marker-alt"></i>Trujillo, Perú</p>
                    <p><i class="fa fa-phone-alt"></i>+51 974 903 636</p>
                    <p><i class="fa fa-envelope"></i>solidariosenlinea&#64;gmail.com</p>
                    <div class="footer-social">
                        <a class="btn btn-custom" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-custom" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-custom" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-custom" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-custom" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-link">
                    <h2>Enlaces populares</h2>
                    <a >Sobre Nosotros</a>
                    <a >Contáctenos</a>
                    <a >Causas Populares</a>
                    <a >Próximos Eventos</a>
                    <a >Blog más reciente</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-link">
                    <h2>Enlaces útiles</h2>
                    <a >Condiciones de uso</a>
                    <a >Política de privacidad</a>
                    <a >Cookies</a>
                    <a >Ayuda</a>
                    <a >Preguntas frecuentes</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-newsletter">
                    <h2>Boletin informativo</h2>
                    <form>
                        <input class="form-control" placeholder="El correo electrónico va aquí">
                        <button class="btn btn-custom">Entregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr style="border-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="parrafo" style="color: white;"> 🤍 Todos los Derechos Reservados 🤍</p>
            </div>
        </div>
    </div>
</div>