<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-contact">
                    <h2>Nuestra oficina central</h2>
                    <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                    <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope"></i>infoexample.com</p>
                    <div class="footer-social">
                        <a class="btn btn-custom" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-custom" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-custom" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-custom" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-custom" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-link">
                    <h2>Enlaces populares</h2>
                    <a href="">Sobre Nosotros</a>
                    <a href="">Contáctenos</a>
                    <a href="">Causas Populares</a>
                    <a href="">Próximos Eventos</a>
                    <a href="">Blog más reciente</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-link">
                    <h2>Enlaces útiles</h2>
                    <a href="">Condiciones de uso</a>
                    <a href="">Política de privacidad</a>
                    <a href="">Cookies</a>
                    <a href="">Ayuda</a>
                    <a href="">Preguntas frecuentes</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-newsletter">
                    <h2>Boletin informativo</h2>
                    <form>
                        <input class="form-control" placeholder="El correo electrónico va aquí">
                        <button class="btn btn-custom">Entregar</button>
                        <label>¡No te preocupes, no enviamos spam!</label>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a href="#">SolidariosEnLínea</a>, All Right Reserved.</p>
            </div>
            <div class="col-md-6">
                <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div>