.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Browse";
  }
  .btn-donation {
    background-color: #ffa500;
    color: #fff;
  }
  .btn-donation:hover {
    background-color: #cc8400;
    color: #fff;
  }
  .card-img-overlay {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  .btn-amount {
    width: 100%;
    margin-bottom: 10px;
  }
  .btn-outline-custom {
    color: #942318 !important;
    border-color: #942318 !important;
}
.btn-outline-custom:hover {
  background-color: #942318 !important;
  color: white !important;
}