<header class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">Únete como Voluntario</h1>
        <p class="lead">Con tu ayuda, podemos lograr grandes cambios.</p>
    </div>
</header>

<section class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6 mb-4 mb-md-0">
            <img src="/assets/img/historia.jpg" class="img-fluid rounded" alt="Nuestra Historia">
        </div>
        <div class="col-md-6">
            <div>
                <h2 class="text-center mb-4">Nuestra Historia</h2>
                <p class="text-justify">Desde nuestra fundación en 2000, nuestra ONG ha trabajado incansablemente para mejorar la vida de miles de personas en situación de vulnerabilidad. A través de programas educativos, de salud y de desarrollo comunitario, hemos logrado impactos significativos en nuestras comunidades.</p>
            </div>
        </div>
    </div>
</section>



<section class="py-5" style="background-color: #942318;">
    <div class="container">
        <h2 class="text-center mb-4" style="color: white;">Beneficios de Ser Voluntario</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card h-100 shadow-sm mb-4">
                    <div class="card-body d-flex">
                        <div class="flex-shrink-0 align-self-center">
                            <img src="/assets/img/promocion.png" class="img-fluid rounded" style="max-width: 100px;" alt="Desarrollo Personal">
                        </div>
                        <div class="flex-grow-1 ms-3 align-self-center">
                            <h3 class="card-title">Desarrollo Personal</h3>
                            <p class="card-text">Desarrolla nuevas habilidades y conocimientos mientras ayudas a otros.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-sm mb-4">
                    <div class="card-body d-flex">
                        <div class="flex-shrink-0 align-self-center">
                            <img src="/assets/img/experiencia.png" class="img-fluid rounded" style="max-width: 100px;" alt="Experiencia Gratificante">
                        </div>
                        <div class="flex-grow-1 ms-3 align-self-center">
                            <h3 class="card-title">Experiencia Gratificante</h3>
                            <p class="card-text">Disfruta de la satisfacción de ver el impacto positivo de tu trabajo.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-sm mb-4">
                    <div class="card-body d-flex">
                        <div class="flex-shrink-0 align-self-center">
                            <img src="/assets/img/networking.png" class="img-fluid rounded" style="max-width: 100px;" alt="Oportunidades de Networking">
                        </div>
                        <div class="flex-grow-1 ms-3 align-self-center">
                            <h3 class="card-title">Oportunidades de Networking</h3>
                            <p class="card-text">Conoce a personas con ideas afines y expande tu red de contactos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







<section class="container my-5">
    <h2 class="text-center mb-4" >Testimonios de Voluntarios</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="assets/img/Juan.png" class="card-img-top" alt="Voluntario 1">
                <div class="card-body">
                    <p class="card-text">"Ser voluntario en esta ONG ha sido una experiencia transformadora." - Juan Pérez</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/img/Maria.jpg" class="card-img-top" alt="Voluntaria 2">
                <div class="card-body">
                    <p class="card-text">"He aprendido mucho y he conocido a personas increíbles." - María García</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/img/alimentos.jpg" class="img-fluid rounded-start" alt="Evento 1" style="height: 100%;">
                <div class="card-body">
                    <p class="card-text">"Cada día es una oportunidad para hacer una diferencia." - Laura Rodríguez</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-5">Próximos Eventos</h2>
        <div class="row">
            <div class="col-md-6" >
                <div class="card border-0 shadow-sm mb-4" style="background-color: #942318;">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <div class="card-img-wrapper">
                                <img src="assets/img/alimentos.jpg" class="img-fluid rounded-start" alt="Evento 1" style="width: 100%; height: 300px;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title mb-3 text-light">Recogida de Alimentos</h5>
                                <p class="card-text text-light"><strong>Fecha:</strong> 15 de julio</p>
                                <p class="card-text text-light"><strong>Lugar:</strong> Plaza Central</p>
                                <p class="card-text text-light">Ayuda a recolectar y distribuir alimentos a familias necesitadas.</p>
                                <a href="#" class="btn btn-warning text-light">Más información</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-0 shadow-sm mb-4" style="background-color: #942318;">  
                    <div class="row g-0">
                        <div class="col-md-6">
                            <div class="card-img-wrapper">
                                <img src="assets/img/salud.jpeg" class="img-fluid rounded-start" alt="Evento 2" style="width: 100%; height: 300px;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title mb-3 text-light">Jornada de Salud</h5>
                                <p class="card-text text-light"><strong>Fecha:</strong> 22 de julio</p>
                                <p class="card-text text-light"><strong>Lugar:</strong> Centro Comunitario</p>
                                <p class="card-text text-light">Únete a nosotros para proporcionar servicios de salud gratuitos a la comunidad.</p>
                                <a href="#" class="btn btn-warning text-light">Más información</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container my-5 join-section">
    <h2 class="text-center mb-4">Cómo Unirse</h2>
    <p class="text-center intro-text">Unirse a nuestro equipo de voluntarios es fácil. Solo sigue estos pasos:</p>
    <ol class="steps-list">
        <li>Completa nuestro <a>formulario de inscripción en línea</a>.</li>
        <li>Asiste a una sesión informativa.</li>
        <li>¡Comienza a hacer la diferencia!</li>
    </ol>
</section>


<section id="formulario" class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-4">Formulario de Inscripción</h2>
        <form class="needs-validation" novalidate>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" required>
                    <div class="invalid-feedback">
                        Por favor ingresa tu nombre.
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="apellidos" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" required>
                    <div class="invalid-feedback">
                        Por favor ingresa tus apellidos.
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" required>
                    <div class="invalid-feedback">
                        Por favor ingresa un correo electrónico válido.
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="tel" class="form-control" id="telefono" required>
                    <div class="invalid-feedback">
                        Por favor ingresa un número de teléfono válido.
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="terms" required>
                        <label class="form-check-label" for="terms">
                            He leído y estoy de acuerdo con los <a href="#">Términos y Condiciones</a>
                        </label>
                        <div class="invalid-feedback">
                            Debes aceptar los términos y condiciones antes de enviar.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-warning float-end" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</section>

