<div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <a href="#" class="btn btn-link"><- Volver</a>
        <h5>Información de pago:</h5>
        <form>
          <div class="mb-3">
            <label for="tarjeta" class="form-label">Número de Tarjeta</label>
            <input type="text" class="form-control" id="tarjeta" required>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="fecha" class="form-label">Fecha de vencimiento*</label>
              <input type="text" class="form-control" id="fecha" placeholder="MM/AAAA" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cvv" class="form-label">CVV*</label>
              <input type="text" class="form-control" id="cvv" required>
            </div>
          </div>
          <button type="submit" class="btn btn-donation w-100">DONAR AHORA</button>
        </form>
        <p class="mt-2">Tu donación es deducible de impuestos. Donación 100% segura a través de <b>Nubiz</b>.</p>
      </div>
      <div class="col-md-6">
        <h4>Con tu donación lograremos que muchas personas:</h4>
        <div class="row">
          <div class="col-6 mb-3">
            <div class="card">
              <img src="assets/img/ayu.jpg" class="card-img-top" alt="...">
              <div class="card-img-overlay">
                <p class="card-text">Tengan accceso a suministros alimenticios.</p>
              </div>
            </div>
          </div>
          <div class="col-6 mb-3">
            <div class="card">
              <img src="assets/img/mano.jpg" class="card-img-top" alt="...">
              <div class="card-img-overlay">
                <p class="card-text">Cuenten que acceso a suministros de salud.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>