<app-info></app-info>
<div class="team" style="margin-top: 3rem;">
    <div class="container">
        <div class="section-header text-center">
            <p>NUESTRO EQUIPO DE TRABAJO</p>
            <h2>Somos un equipo comprometido</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/img/yeni.jpeg" alt="Team Image">
                    </div>
                    <div class="team-text text-center">
                        <h2>Yenifer Laiza Lopez</h2>
                        <p>Desarrolladora</p>
                        <div class="team-social">
                            <a href="https://twitter.com/usuario"><i class="fab fa-twitter"></i></a>
                            <a href="https://facebook.com/usuario"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://linkedin.com/in/usuario"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://instagram.com/usuario"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/clau.jpg" alt="Team Image">
                    </div>
                    <div class="team-text text-center">
                        <h2>Claudia Cruz Loje</h2>
                        <p>Desarrolladora</p>
                        <div class="team-social">
                            <a href="https://twitter.com/usuario"><i class="fab fa-twitter"></i></a>
                            <a href="https://facebook.com/usuario"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://linkedin.com/in/usuario"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://instagram.com/usuario"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

