<app-carrousel></app-carrousel>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="/assets/lib/flaticon/font/flaticon.css" rel="stylesheet">
<link href="/src/assets/lib/animate/animate.min.css" rel="stylesheet">

<app-info></app-info>


<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>¿Qué hacemos?</p>
            <h2>Nuestros Servicios</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="assets/img/dieta.png" alt="Asistencia alimentaria" class="service-image">
                    </div>
                    <div class="service-text">
                        <h3>Asistencia alimentaria</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="assets/img/superacion.png" alt="Desarrollo comunitario" class="service-image">
                    </div>
                    <div class="service-text">
                        <h3>Desarrollo comunitario</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="assets/img/medico.png" alt="Atención médica y salud" class="service-image">
                    </div>
                    <div class="service-text">
                        <h3>Atención médica y salud</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="assets/img/presentacion.png" alt="Educación" class="service-image">
                    </div>
                    <div class="service-text">
                        <h3>Educación</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="assets/img/vivienda.png" alt="Vivienda y refugio" class="service-image">
                    </div>
                    <div class="service-text">
                        <h3>Vivienda y refugio</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="assets/img/cuidado.png" alt="Asistencia social" class="service-image">
                    </div>
                    <div class="service-text">
                        <h3>Asistencia social</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-testimonios></app-testimonios>


<div class="blog">
    <div class="container">
        <div class="section-header text-center">
            <p>Nuestro Blog</p>
            <h2>Últimas noticias y artículos directamente desde nuestro blog.</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4 shadow-sm">
                    <div style="height: 200px; overflow: hidden;">
                        <img src="assets/img/Maria.PNG" class="card-img-top img-fluid" style="object-fit: cover; height: 100%;" alt="Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Ayuda Alimentaria para María</h5>
                        <p class="card-text">
                            María necesita recursos de alimentos porque ha sufrido un desastre natural y ha perdido su casa.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary me-2 botones1">Leer más</a>
                        <a href="#" class="btn btn-secondary botones">Donar Ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4 shadow-sm">
                    <div style="height: 200px; overflow: hidden;">
                        <img src="assets/img/Jose.jpeg" class="card-img-top img-fluid" style="object-fit: cover; height: 100%;" alt="Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Asistencia Médica para José</h5>
                        <p class="card-text">
                        José requiere ayuda financiera para costear una cirugía urgente debido a un accidente de tráfico.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary me-2 botones1">Leer más</a>
                        <a href="#" class="btn btn-secondary botones">Donar Ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4 shadow-sm">
                    <div style="height: 200px; overflow: hidden;">
                        <img src="assets/img/Ana.jpg" class="card-img-top img-fluid" style="object-fit: cover; height: 100%;" alt="Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Ropa y Abrigo para Ana</h5>
                        <p class="card-text">
                            Ana y su familia necesitan donaciones de ropa y mantas después de que un incendio destruyera su hogar.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary me-2 botones1">Leer más</a>
                        <a href="#" class="btn btn-secondary botones">Donar Ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
