<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img" data-parallax="scroll">
                    <img src="assets/img/about.jpg" alt="Contact Image" class="img-fluid parallax">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="section-header">
                    <p>Aprenda Sobre Nosotros</p>
                    <h2>Organización benéfica mundial sin fines de lucro</h2>
                </div>
                <div class="about-tab">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item" style="color:  rgb(48, 134, 59);">
                            <a class="nav-link active" data-toggle="pill" href="#tab-content-1">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:  rgb(48, 134, 59);" data-toggle="pill" href="#tab-content-2">Misión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:  rgb(48, 134, 59);" data-toggle="pill" href="#tab-content-3">Visión</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-content-1" class="container tab-pane active">
                            Nuestra ONG es un faro de esperanza en la comunidad, dedicada a brindar apoyo vital a
                            aquellos que más lo necesitan. Desde nuestra fundación, nos hemos comprometido a marcar una
                            diferencia significativa en la vida de las personas, ofreciendo un lugar donde la
                            solidaridad y la compasión se unen para crear un impacto duradero.
                        </div>
                        <div id="tab-content-2" class="container tab-pane fade">
                            Nuestra misión es proporcionar recursos esenciales y oportunidades transformadoras a quienes
                            enfrentan dificultades, abrazando la diversidad y promoviendo la inclusión en cada paso que
                            damos. Creemos en el poder de la colaboración y la empatía para construir un mundo más justo
                            y equitativo, donde cada individuo tenga acceso a los medios necesarios para prosperar y
                            alcanzar su máximo potencial.
                        </div>
                        <div id="tab-content-3" class="container tab-pane fade">
                            Visualizamos un futuro donde la bondad humana prevalezca sobre las adversidades, donde cada
                            corazón generoso pueda unirse a nuestra causa para crear un cambio perdurable. Aspiramos a
                            ser un referente en la innovación social, inspirando a otros a actuar con compasión y
                            responsabilidad, construyendo así una red global de solidaridad que trascienda fronteras y
                            culturas.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>