<div class="blog mt-4">
    <div class="container">
        <div class="section-header text-center">
            <p>Nuestro Blog</p>
            <h2>Últimas noticias y artículos directamente desde nuestro blog.</h2>
        </div>
        <div class="row">
            <div *ngFor="let necesidad of necesidades" class="col-lg-4">
                <div class="card mb-4 shadow-sm">
                    <div style="height: 200px; overflow: hidden;">
                        <img [src]="necesidad.img" class="card-img-top img-fluid" style="object-fit: cover; height: 100%;" alt="Image"> <!-- Ajuste aquí -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ necesidad.titulo }}</h5>
                        <p class="card-text">{{ necesidad.descripcion }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary me-2 botones1">Leer más</a>
                        <a routerLink="/donar" class="btn btn-secondary botones">Donar Ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
